body {
    background-image: url(images.jpeg);
    background-size: cover;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

#button {
    height: 30px;
    width: 400px;
}
